body {
  width:300px;
  margin: 0;
  background-image: url("images/blob-scene-haikei.svg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;

}
#heading1{
  text-align: center;
}
