*{
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 300px;
  width:300px;
  margin: 0;
  /*background-image: url("images/blob-scene-haikei.svg");*/
  background-color: rgb(255, 255, 255);
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
  

}
#heading1{
  padding: 10px 0;
  text-align: center;
}

#main_div{
  text-align: center;
  
}

#text_input{
  width: 220px;
  border-radius: 5px;
  border: 1px black solid;
  outline: none;
  margin: 0.5em 0;
}

#summary_length{
  border-radius: 5px;
  border-color: black;
  border: 1px black solid;
  outline: none;
}

#summarise{
  position: relative;
  border-color: white;
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  user-select: none;
}
#summarise:hover::after{
  width: 110px;
  height: 110px;
}
#summarise::after{
  content: "";
  position: absolute;
  background-color: #009492;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  z-index: -1;
  border-radius: 10em;
  transition: width 400ms, height 600ms;
}
#summarise.clicked::after{
  z-index: 99;
  width: 900px;
  height: 900px;
}
